$xxs : 374;
$xs : 575;
$sm : 767;
$md : 991;
$lg : 1199;
$gutter: 15px;

@mixin max($breakpoint) {
	@media (max-width: $breakpoint + px) {
		@content;
	}
}

@mixin min($breakpoint) {
	@media (min-width: ($breakpoint + 1) + px) {
		@content;
	}
}

@mixin imgcenter {
	img {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		margin: auto;
		display: block;
		max-width: 100%;
		max-height: 100%;
	}
}

@mixin fit {
	img {
		position:absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

@mixin center {
	display: flex;
	align-items: center;
	justify-content: center;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}
}

.row {
	margin-right: -$gutter;
	margin-left: -$gutter;
	> .col,
	> [class*="col-"] {
		padding-right: $gutter;
		padding-left: $gutter;
	}
	&.no-gutters {
		margin-right: 0;
		margin-left: 0;
		> .col,
		> [class*="col-"] {
			padding-right: 0;
			padding-left: 0;
		}
	}
}

body {
	@include max($md) {
		&[class$="-active"] {
			cursor: pointer;
		}
	}
}

/* @Mobile Navigation */
body {
	@include max($md) {
		&.navigation-active {
			overflow: hidden;
			position: fixed;
			height: 100%;
			width: 100%;
		}
		&.navigation-active {
			left: 280px;
			#mobile-navigation {
				left: 0;
				box-shadow: 2px 0 5px 0 rgba(0, 0, 0, 0.1);
			}
			.navigation-menu-overlay {
				display: block;
			}
		}
	}
}

#mobile-navigation {
    position: fixed;
    top: 0;
    left: -280px;
    width: 280px;
    height: 100%;
    z-index: 999;
    transition: $transition-base;
    background: #ffffff;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    .mobile-navigation {
        overflow:hidden;
        position:relative;
    }
    li.has-sub-category {
        > div {
            overflow: hidden;
        }
        &.active {
            > div {
                left: 0;
                overflow: visible;
            }
        }
    }
    a {
        padding: 1.5rem 1rem;
        color: $text-color;
        font-size: 1.4rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid $border-color;
        > div {
            display: flex;
            align-items: center;
            > div {
                margin-right: 1rem;
                img {
                    width: 3rem;
					height: 3rem;
					object-fit: scale-down;
                }
            }
        }
    }
    .category-level-2,
    .category-level-3 {
        position: absolute;
        top: 0;
        left: 100%;
        width: 100%;
        background: #ffffff;
        transition: $transition-base;
        z-index: 2;
        ul {
            padding: 0 1rem;
            > li {
                > a {
                    padding: 1rem;
                    border-color: $border-color;
                    color: $text-color;
                    font-size: 1.3rem;
                }
            }
        }
    }
    .mobile-navigation-back {
        a {
            justify-content: flex-start;
            span {
                margin-left: 1rem;
            }
            i {
                font-size: 1rem;
            }
        }
    }
}