// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i&display=swap&subset=latin-ext');

// Frameworks
@import 'bootstrap/bootstrap.scss';
@import 'slick/slick.scss';
@import 'slick/slick-theme.scss';
@import 'fontawesome/fontawesome.scss';

$font-family: 'Nunito', sans-serif;
$text-color: #333333;
$primary-color: #449ed5;
$primary-hover-color: darken($primary-color, 10%);
$primary-text-color: #ffffff;
$gray-color: #eeeeee;
$gray-text-color: #878787;
$border-color: #e8e8e8;
$transition: 0.5s;

@import 'mixin.scss';

body {
    font-size: 1rem;
    color: $text-color;
    font-family: $font-family;
}

a {
    transition: $transition;

    &:hover {
        text-decoration: none;
    }
}

* {
    outline: none !important;
}

/* @Header */ 
header {
    padding: $gutter 0;
    background-color: $gray-color;
    border-bottom: 1px solid $border-color;
}

.logo {
    a {
        display: block;
        font-size: 2rem;
        color: $primary-color;
    }
}

nav {
    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            a {
                color: $text-color;
                font-weight: 600;
                font-size: 1.5rem;

                &:hover {
                    color: $primary-color;
                }
            }
        }
    }
}

main {
    display: flex;
}

.sidebar {
    flex: 0 0 15%;
    background-color: lighten($gray-color, 5%);
    height: 100vh;
    overflow-y: auto;
    border-right: 1px solid $border-color;
    padding: $gutter;
}

.content {
    flex: 0 0 85%;
}

footer {
    background-color: $gray-color;
}